# Task 2

In [14]:
-- Base table:
DROP TABLE IF EXISTS AppointmentsBase

CREATE TABLE dbo.AppointmentsBase (
    ID INT IDENTITY, 
    Patient VARCHAR(100),
    PatientAddress VARCHAR(200),
    AppointmentTimeAndLocation VARCHAR(200),
    Price DECIMAL(10, 2),
    Physician VARCHAR(100),
    AppointmentCause VARCHAR(200),
    CONSTRAINT AppointmentsBase_PK PRIMARY KEY (ID)
);

INSERT INTO dbo.AppointmentsBase VALUES
('Jan Kot', '6 Dolna Street, 44-444 Bór', '2029-02-01 12:30, room 12', 300.0, 'Oleg Wyrwiząb', 'Dental: Denture fitting in (. . . )'),
('Maria Mysz', '9 Górna Street, 55-555 Las', '2030-01-04 11:45, room 7',  150.0, 'Ewa Ciarka', 'Dermatology: Birthmark inspection (. . . )')

SELECT * FROM dbo.AppointmentsBase

ID,Patient,PatientAddress,AppointmentTimeAndLocation,Price,Physician,AppointmentCause
1,Jan Kot,"6 Dolna Street, 44-444 Bór","2029-02-01 12:30, room 12",300.00,Oleg Wyrwizab,Dental: Denture fitting in (. . . )
2,Maria Mysz,"9 Górna Street, 55-555 Las","2030-01-04 11:45, room 7",150.00,Ewa Ciarka,Dermatology: Birthmark inspection (. . . )

In [15]:
-- 1NF table:
DROP TABLE IF EXISTS dbo.Appointments1NF

CREATE TABLE dbo.Appointments1NF (
    ID INT IDENTITY, 
    Patient VARCHAR(100),
    PatientAddress VARCHAR(100),
    PatientPostalCode VARCHAR(6),
    PatientCity VARCHAR(6),
    AppointmentTime DATETIME,
    AppointmentLocation VARCHAR(10),
    Price DECIMAL(10, 2),
    Physician VARCHAR(100),
    AppointmentType VARCHAR(50),
    AppointmentCause VARCHAR(200),
    CONSTRAINT Appointments1NF_PK PRIMARY KEY (ID)
);

INSERT INTO dbo.Appointments1NF VALUES
('Jan Kot', '6 Dolna Street', '44-444', 'Bór', CONVERT(datetime, '01/02/2029 12:30:00', 103), 'room 12', 300.0, 'Oleg Wyrwiząb', 'Dental', 'Denture fitting in (. . . )'),
('Maria Mysz', '9 Górna Street', '55-555', 'Las', CONVERT(datetime, '04/01/2030 11:45:00', 103), 'room 7', 150.0, 'Ewa Ciarka', 'Dermatology', 'Birthmark inspection (. . . )')

SELECT * FROM dbo.Appointments1NF

ID,Patient,PatientAddress,PatientPostalCode,PatientCity,AppointmentTime,AppointmentLocation,Price,Physician,AppointmentType,AppointmentCause
1,Jan Kot,6 Dolna Street,44-444,Bór,2029-02-01 12:30:00.000,room 12,300.00,Oleg Wyrwizab,Dental,Denture fitting in (. . . )
2,Maria Mysz,9 Górna Street,55-555,Las,2030-01-04 11:45:00.000,room 7,150.00,Ewa Ciarka,Dermatology,Birthmark inspection (. . . )

In [ ]:
-- 3NF tables:
DROP TABLE IF EXISTS dbo.Appointments2NF
DROP TABLE IF EXISTS dbo.Clients2NF

CREATE TABLE dbo.Clients2NF (
    ID INT IDENTITY, 
    Patient VARCHAR(100),
    PatientAddress VARCHAR(100),
    PatientPostalCode VARCHAR(6),
    PatientCity VARCHAR(6),
    CONSTRAINT Clients2NF_PK PRIMARY KEY (ID)
);

CREATE TABLE dbo.Appointments2NF (
    ID INT IDENTITY, 
    PatientID INT,
    AppointmentTime DATETIME,
    AppointmentLocation VARCHAR(10),
    Price DECIMAL(10, 2),
    Physician VARCHAR(100),
    AppointmentType VARCHAR(50),
    AppointmentCause VARCHAR(200),
    CONSTRAINT Appointments2NF_PK PRIMARY KEY (ID),
    CONSTRAINT PatientID_FK FOREIGN KEY (PatientID) REFERENCES dbo.Clients2NF (ID) ON DELETE CASCADE
);

INSERT INTO dbo.Clients2NF VALUES
('Jan Kot', '6 Dolna Street', '44-444', 'Bór'),
('Maria Mysz', '9 Górna Street', '55-555', 'Las')

INSERT INTO dbo.Appointments2NF VALUES
(1, CONVERT(datetime, '01/02/2029 12:30:00', 103), 'room 12', 300.0, 'Oleg Wyrwiząb', 'Dental', 'Denture fitting in (. . . )'),
(2, CONVERT(datetime, '04/01/2030 11:45:00', 103), 'room 7', 150.0, 'Ewa Ciarka', 'Dermatology', 'Birthmark inspection (. . . )')

SELECT * FROM dbo.Clients2NF
SELECT * FROM dbo.Appointments2NF

ID,Patient,PatientAddress,PatientPostalCode,PatientCity
1,Jan Kot,6 Dolna Street,44-444,Bór
2,Maria Mysz,9 Górna Street,55-555,Las

ID,PatientID,AppointmentTime,AppointmentLocation,Price,Physician,AppointmentType,AppointmentCause
1,1,2029-02-01 12:30:00.000,room 12,300.00,Oleg Wyrwizab,Dental,Denture fitting in (. . . )
2,2,2030-01-04 11:45:00.000,room 7,150.00,Ewa Ciarka,Dermatology,Birthmark inspection (. . . )

Stack overflow ([https://stackoverflow.com/questions/6023091/normalisation-2nf-vs-3nf](https://stackoverflow.com/questions/6023091/normalisation-2nf-vs-3nf)) says:
"<span style="background-color: rgb(255, 255, 255); color: rgb(36, 39, 41); font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 15px;">You have achieved the 3rd NF when there are no relations between the key and other columns that don't depend on it.</span>"
So I have 2 ideas:
1. Let's remove "AppointmentLocation" since only having physican name is sufficient enough and let's also remove "AppointmentType" because we can figure it out from "AppointmentCause"
2. Create separate table for physician (here "AppointmentLocation" could be stored).
I will implement only the first option.

In [18]:
-- 2NF tables:
DROP TABLE IF EXISTS dbo.Appointments3NF
DROP TABLE IF EXISTS dbo.Clients3NF

CREATE TABLE dbo.Clients3NF (
    ID INT IDENTITY, 
    Patient VARCHAR(100),
    PatientAddress VARCHAR(100),
    PatientPostalCode VARCHAR(6),
    PatientCity VARCHAR(6),
    CONSTRAINT Clients3NF_PK PRIMARY KEY (ID)
);

CREATE TABLE dbo.Appointments3NF (
    ID INT IDENTITY, 
    PatientID INT,
    AppointmentTime DATETIME,
    Price DECIMAL(10, 2),
    Physician VARCHAR(100),
    AppointmentCause VARCHAR(200),
    CONSTRAINT Appointments3NF_PK PRIMARY KEY (ID),
    CONSTRAINT secNFPatientID_FK FOREIGN KEY (PatientID) REFERENCES dbo.Clients3NF (ID) ON DELETE CASCADE
);

INSERT INTO dbo.Clients3NF VALUES
('Jan Kot', '6 Dolna Street', '44-444', 'Bór'),
('Maria Mysz', '9 Górna Street', '55-555', 'Las')

INSERT INTO dbo.Appointments3NF VALUES
(1, CONVERT(datetime, '01/02/2029 12:30:00', 103), 300.0, 'Oleg Wyrwiząb', 'Denture fitting in (. . . )'),
(2, CONVERT(datetime, '04/01/2030 11:45:00', 103), 150.0, 'Ewa Ciarka', 'Birthmark inspection (. . . )')

SELECT * FROM dbo.Clients3NF
SELECT * FROM dbo.Appointments3NF

ID,Patient,PatientAddress,PatientPostalCode,PatientCity
1,Jan Kot,6 Dolna Street,44-444,Bór
2,Maria Mysz,9 Górna Street,55-555,Las

ID,PatientID,AppointmentTime,Price,Physician,AppointmentCause
1,1,2029-02-01 12:30:00.000,300.00,Oleg Wyrwizab,Denture fitting in (. . . )
2,2,2030-01-04 11:45:00.000,150.00,Ewa Ciarka,Birthmark inspection (. . . )